/* body {
  min-height: 3000px;
} */

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

.card-body a {
  text-decoration: none;
  text-align: center;
  color: #161d6f;
}

footer {
  padding-bottom: 5px;
}
footer a {
  text-decoration: none;
}

section {
  padding-top: 5rem;
}
